/* Global styles */
* {
  margin: 0;
  padding: 0;
}
* {
  padding-left: 0.1vw;
}
html, body {
  cursor: crosshair;
  font-family: 'Bitter', serif;
}
::-moz-selection {
  /* Code for Firefox */
  color: White;
  background: #e33a11;
}
::selection {
  color: White;
  background: #e33a11;
}

/* SVG specific styles */
.conf {
  opacity: 0.5;
}
svg text {
  font-family: 'Bitter', serif;
}
#focusLine {
  fill: none;
  stroke: #cdccce;
  stroke-width: 0.5px;
}
.annotation-note-label {
  font-size: 10;
}

/* Text colour
(Likely good do parties through color scale  with stlye attr)
*/

.title {
  color: #e33a11;
}

/*Font size for elements, using clamp
(Might have to look at implementations for older browers)
*/


#date {
  color: #e33a11;
  font-size: clamp(10px, 1.5vw, 65px);
}

h1 {
  font-size: clamp(20px, 8vh, 70px);
  font-weight: 900;
}

/* trick for vertlical-align middle with percents*/




/*href style*/
.credits {
  color: #8d8e8b;
  font-size: clamp(5px, 1vh, 20px);
}

.credits a {
  color: #8d8e8b;
}

.credits a:hover {
  color: #bbbcba !important;
}

.credits a:visited {
  color: #8d8e8b;
}
.head{
  height: 20vh;
  width: 100%;
  padding-bottom: 1%;
}
.main {
  width: 100%;
}
.credits {
  width: 100%;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
.main {
    position: relative;
    width: 100%;
    display: flex;
}
#headline{
  font-size: clamp(8px, 4vh, 30px);
}
.wrapper{
  vertical-align: bottom;

}
